@import '../../variables.scss';

.RadioButton {
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
    
    label {
        margin-left: 5px;
        font-weight: lighter;
        color: $form-section;
    }
}