@import '../../variables.scss';

.Header {
    display: flex;
    align-items: center;

    height: 5rem;
    padding: 0 3rem 0 3rem;
    justify-content: space-between;

    background: linear-gradient(to right, #BF0E4F, #8B1F6E);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);

    color: $text-color-header;

    a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $text-color-header;

        >.product-name {
            font-size: 1.8rem;
            margin-left: 1rem;
        }

        & :hover {
            cursor: pointer;
        }
    }

    .user-info {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
    }

    .user-name {
        font-size: 1.4rem;
    }

    .user-icon {
        background-color: #F3F5F7;
        color: $text-color-default;
        border-radius: 50%;
        padding: 0.5rem;
        font-weight: bold;
        margin-left: 0.5rem;
        cursor: pointer;
        user-select: none;
    }

    .venturus-logo {
        width: 4rem;
    }
}