@import '../../variables.scss';

.RoundedImage {
    display: flex;

    .content {
        border-radius: 50%;
        border: 3px  solid #8E0875;
        box-shadow: 0px 0px 5px #673089;
        background-color: $secondary-color;
        font-size: 5em;
        padding: 0.5em;
        color: $brand-light;
    }

    & > div {
        padding: 6px;
        display: flex;
        align-items: center;
        
        &.dashed {
            padding: 4px;
            border-style: dashed;
            border-radius: 50%;
            border-width: 2px;
            border-color: #B187C9;
        }
    }
}