@import '../../variables.scss';

.HomePage {
    padding: $main-padding;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: auto;
    column-gap: 50px;
    row-gap: 20px;

    .Section:nth-child(1) {
        grid-row: span 2;
    }

    .top-5 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .player-stats {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }    

    .tooltip {
        position: relative;
        display: inline-block;

        .tiptext {
            visibility: hidden;
            width: 120px;
            background-color: $primary-color;
            color: $secondary-color;
            text-align: center;
            border-radius: 6px;
            padding: 10px 0;
            position: absolute;
            bottom: 150%;
            left: 50%;
            margin-left: -60px;
            font-weight: lighter;

            &:after {
                content: "";
                position: absolute;
                top: 100%;
                left: 50%;
                margin-left: -5px;
                border-width: 5px;
                border-style: solid;
                border-color: $primary-color transparent transparent transparent;
            }
        }

        &:hover .tiptext {
            visibility: visible;
        }
    }

    .sort-wrapper {
        margin-left: 10px;
        display: inline-flex;
        align-items: center;;
        float: right;
        flex-wrap: nowrap;

        button {
            padding: 10px;
            margin-right: -10px;
            border: none;
            background: none;
            outline: none;
        }
    }
}

@media #{$screen-md} {
    .HomePage {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

        .sort-wrapper button {
            padding: 0;
            margin: 0;
        }
    }
}

@media #{$screen-lg} {
    .HomePage {
        grid-auto-flow: column; 
    }
}