// Variables //
// Colors
$text-color-header: #FFFFFF;
$text-color-section-text-color: #552C8A;
$text-color-default: #333333;

$footer-background: #E9E3E9;

$main-gradient: linear-gradient(to bottom, #B93D7B, #673089);

$background-main: #F7F3F7;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    // font-size base to use rem like: 1rem = 10px, 1.5rem = 15px, 2rem = 20px...
    font-size: 62.5%;
    color: $text-color-default;
}
