* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

// Variables //
// Colors
$text-color-header: #FFFFFF;
$text-color-section-text-color: #552C8A;
$text-color-default: #333333;

$footer-background: #E9E3E9;

$main-gradient: linear-gradient(to bottom, #B93D7B, #673089);