@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    /* font-size base to use rem like: 1rem = 10px, 1.5rem = 15px, 2rem = 20px... */
    font-size: 62.5%;
    color: var(--text-color-default);
    background-color: var(--background-main);
}