@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    /* font-size base to use rem like: 1rem = 10px, 1.5rem = 15px, 2rem = 20px... */
    font-size: 62.5%;
    color: $primary-color;
    background-color: $background-main;
}

small {
    font-size: $size-secondary;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.6rem;
}

.text-center {
    text-align: center;
}