/* Colors */
$primary-color: #404040;
$secondary-color: #FFFFFF;
$brand-dark: #552C8A;
$brand-light: #B13D7C;
$form-section: #919191;

// Gradient
$main-gradient: linear-gradient(to bottom, $brand-light, $brand-dark);

// Background
$background-main: #F7F3F7;
$footer-background: #E9E3E9;

// Table Component
$table-hover-background: #EBD5EB;
$table-border-color: #E4E4E4;

// List
$list-background-color: #E7E1E6;
$list-item-background-color: #FFFFFF;

// Border
$border-primary: #CC2259;
$border-form: #CDCBCB;

// Main Padding
$main-padding: 40px 25px;

/* Font Size */
$size-default: 1.6rem;
$size-secondary: 1.4rem;


/* Media Query (Based on Bootstrap size) */
$screen-sm: '(min-width: 576px)';
$screen-md: '(min-width: 768px)';
$screen-lg: '(min-width: 992px)';


// $screen-xl: '(min-width: 1200px)';
// $screen-xxl: '(min-width: 1480px)';